/* All */
* {
    font-size: 16px;
}
/* header */
header {
    line-height: 2rem;
    display: flex;
    justify-content: space-between;
}

header .logo {
    display: flex;
    justify-content: flex-start;
    padding-left: 1.5rem;
}

header ul{
    padding-right: 1.5rem;
}


header ul li{
    display: inline;
    list-style-type: none;
    margin-right: 1rem;
}

/* main */
main h1 {
    font-size: 4rem;
}

main h3 {
    font-size: 2rem;
}

main h2 {
    font-size: 3rem;
}

main p {
    font-size: 1.5rem;
}
/*section 1*/
main .section1 {
    display: flex;
    background-color: lightgray;
    align-items: center;
}

.section1 img {
    width: 60%;
    padding: 2rem 1.5rem 2rem 1.5rem;
}

.section1 button {
    font-size: 1.5rem;
    text-align: center;
    height: 4rem;
    width: 24rem;
    color: white;
    background-color: darkgray;
    border-color: darkgray;
}

.section1 .bannerText {
    width: 28rem;
    margin-left: auto;
    margin-right: auto;
}

/* section2 */
.section2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.section2 .mainLeft {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.section2 .mainImage {
    width: 60%;
    padding: 2rem 1.5rem 2rem 1.5rem;
}

.section2 .underImage {
    width: 60%;
    padding: 2rem 1.5rem 2rem 1.5rem;
}

.section2 .mainRight {
    width: 40%;
}
   

.section2 .ImageText {
    display: flex; 

}